<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body tiles:fragment="content">
	
	<div class="grid_6" id="landing_main_text">
		<h2 th:text="#{landing.page.title}">Dating Home</h2>
		<p th:text="#{landing.page.content1}">
			Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
			sed diam nonumy eirmod tempor invidunt ut labore et dolore
			magna aliquyam erat, sed diam voluptua. At
		</p>
		<a class="button" th:href="@{/service}" th:text="#{landing.button.service}">Learn More</a>
		<a class="button" th:href="@{/service}" th:text="#{landing.button.register}">Sign Up</a>
	</div>
	
	<div class="grid_10" id="landing_main_img"></div>
	
	<div tiles:include="registration" id="landing_register_popup"></div>
	
</body>

</html>