<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org" lang="en">


<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>


<body tiles:fragment="content">

<form method="post" th:action="@{/gateway}" action="/login/check" class="grid_12 login-page">

	<p th:if="${error}" th:text="#{login.message.error}" class="login-messages">Wrong user name or password!</p>

	<div class="login-large">
		<label for="username" th:text="#{login.label.username}">User Name or Email</label>
		<input id="username" name="username" type="text" />
	</div>

	<div class="login-large">
		<label for="password" th:text="#{login.label.password}">Password</label>
		<input name="password" type="password" />
	</div>

	<div class="login-large">
		<input type="submit" name="Login" th:value="#{login.button.login}" value="Login" />
	</div>

	<div class="login-links">
		<a href="#" th:href="@{/login/forgot}" th:text="#{login.link.fpassword}">Forgot Password?</a>
		<a href="#" th:href="@{/register}" th:text="#{login.button.register}" class="button">Create Account</a>
	</div>

</form>

<div class="grid_4">
	<img th:src="@{/dynamic/login_ad.png}" class="login_ad"/>
</div>
	
</body>

</html>