<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org" lang="en">


<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>


<body tiles:fragment="content">

<h3 th:text="#{register.page.title}">Registration</h3>
<form method="post" action="#" th:action="@{/register}" th:object="${command}" class="register-form">

	<div>
		<label for="login" th:text="#{register.form.label.login}">User Name</label>
		<input id="login" name="login" type="text"/>
	</div>
	
	<div>
		<label for="password" th:text="#{register.form.label.password}">Password</label>
		<input id="password" name="password" type="password"  th:field="*{password}"/>
	</div>
	
	<div>
		<label for="email" th:text="#{register.form.label.email}">Email</label>
		<input id="email" name="email" type="text" th:field="*{email}"/>
	</div>
	
	<div>
		<label for="birthdate" th:text="#{register.form.label.birthdate}">Birthday</label>
		<select id="birthday" th:field="*{birthday}">
			<option value="0"
					th:text="#{register.form.label.birthdate.day}"
					class="option_text"
					>Day</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
			<option value="10">10</option>
			<option value="11">11</option>
			<option value="12">12</option>
			<option value="13">13</option>
			<option value="14">14</option>
			<option value="15">15</option>
			<option value="16">16</option>
			<option value="17">17</option>
			<option value="18">18</option>
			<option value="19">19</option>
			<option value="20">20</option>
			<option value="21">21</option>
			<option value="22">22</option>
			<option value="23">23</option>
			<option value="24">24</option>
			<option value="25">25</option>
			<option value="26">26</option>
			<option value="27">27</option>
			<option value="28">28</option>
			<option value="29">29</option>
			<option value="30">30</option>
			<option value="31">31</option>
		</select>
		<select id="birthmonth" th:field="*{birthmonth}">
			<option value="0"
					th:text="#{register.form.label.birthdate.month}"
					class="option_text"
					>Month</option>
			<option value="1" th:text="#{static.month.jan}">January</option>
			<option value="2" th:text="#{static.month.feb}">February</option>
			<option value="3" th:text="#{static.month.mar}">March</option>
			<option value="4" th:text="#{static.month.apr}">April</option>
			<option value="5" th:text="#{static.month.may}">May</option>
			<option value="6" th:text="#{static.month.jun}">June</option>
			<option value="7" th:text="#{static.month.jul}">July</option>
			<option value="8" th:text="#{static.month.aug}">August</option>
			<option value="9" th:text="#{static.month.sep}">September</option>
			<option value="10" th:text="#{static.month.oct}">October</option>
			<option value="11" th:text="#{static.month.nov}">November</option>
			<option value="12" th:text="#{static.month.dec}">December</option>
		</select>
		<select id="birthyear" th:field="*{birthyear}">
			<option class="option_text"
					th:text="#{register.form.label.birthdate.year}"
					value="0"
					>Year</option>
			<option th:each="i : ${beans.calUtil.getSelectableYears()}"
					th:value="${i}" th:text="${i}"
					value="2000"
					>2000</option>
		</select>
	
		<script type="text/javascript">
			/* <![CDATA[ */
	
			function daysInMonth(month,year) {
				var dd = new Date(year, month, 0);
				return dd.getDate();}
			
			function setDayDrop(dyear, dmonth, dday) {
				var year = dyear.options[dyear.selectedIndex].value;
				var month = dmonth.options[dmonth.selectedIndex].value;
				var day = dday.options[dday.selectedIndex].value;
				var days = (year == 0 || month == 0)
			    	? 31 : daysInMonth(month,year);
				dday.options.length = 0;
				dday.options[dday.options.length] = new Option('Day',0);
				for (var i = 1; i <= days; i++)
					dday.options[dday.options.length] = new Option(i,i);
				dday.selectedIndex= dday.options.length > day
					? day : 0}
			
			function setDay() {
				var year = document.getElementById('birthyear');
				var month = document.getElementById('birthmonth');
				var day = document.getElementById('birthday');
				setDayDrop(year,month,day);}
			document.getElementById('birthyear').onchange = setDay;
			document.getElementById('birthmonth').onchange = setDay;
			setDay();
	
			/* ]]> */
		</script>
	</div>
	
	<div>
		<input id="register" type="submit" name="submit" value="Submit"
			th:value="#{register.form.label.submit}" />
	</div>
</form>

</body>
</html>
