<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
</head>

<body class="container_16">
	
	<header class="prefix_8 grid_6" tiles:include="header.login"></header>
	
	<header class="grid_2" tiles:include="header.language"></header>

<div class="clear"></div>

	<header class="grid_4 suffix_2" tiles:include="header.logo"></header>

	<header class="grid_10" tiles:include="header.search"></header>
	
<div class="clear"></div>

	<section tiles:include="story1"></section>
	
<div class="clear"></div>

	<section tiles:include="story2" class="container_12"></section>
	
<!-- <div class="clear"></div> -->

<!-- 	<section tiles:include="story3"></section> -->
	
<div class="clear"></div>

	<footer class="grid_16" tiles:include="footer"></footer>

</body>

</html>