<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
</head>


<body>

<div id="page" class="container">

<!-- 	<header tiles:include="user_widget"> -->
	
<!-- 	</header> -->
	
	<div tiles:include="page">
		
	</div>
	
<!-- 	<footer tiles:include="footer"> -->
	
<!-- 	</footer> -->
    
</div>
</body>
</html>