.row_1 {
	height: 50px;
}

.row_2 {
	height: 85px;
}

.row_3 {
	height: 275px;
}

.row_4 {
	height: 225px;
}

.row_5 {
	min-height: 350px;
	height: auto;
}

.content {
	min-height: 200px;
	padding-top: 65px;
	padding-bottom: 115px;
}




#landing_register_popup {
	display: none;
}

.login-small input[type=text],
.login-small input[type=password] {
	height: 12px;
	width: 132px;
}
.login-small input[type=submit] {
	height: 23px;
	width: 55px;
	float: right;
}
.login-large {
	margin-bottom: 10px;
}
.login-large input[type=text],
.login-large input[type=password] {
	height: 30px;
	width: 300px;
	float: right;
}
.login-large input[type=submit] {
	height: 36px;
	width: 100px;
	float: right;
}
.login-links {
	margin-top: 25px;
}

.search-form {
	height: 35px;
	padding: 25px 0;
}

.seo-img {
	height: 100px;
	width: 100%;
}

.dropdown {
	position: relative;
	display: none;
}

#search {
	height: 32px;
	width: 32px;
}

#criteria {
	height: 24px;
	width: 400px;
}

#browse {
	height: 18px;
	width: 75px;
}

.heading {
	height: 100%;
	padding-top: 15px; 
}

.landing_main_text a {
	text-align: center;
}

.features_text h4 {
	text-align: center;
}

.features_text p {
	text-align: justify;
}

#footer-nav {
	text-align: center;
}