<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org" lang="en">


<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>


<body tiles:fragment="content">
	<img th:src="@{'/p/' + ${login} + '/icon.png'}" id="profile_pic_ico"/>
	<span id="account_username_text" th:text="${login}">Timmy</span>
	<span>|</span>
	<a href="#" th:href="@{/logout}" th:text="#{login.link.logout}" id="logout"></a>
</body>

</html>